body {
    margin: 0;
    padding: 0;
    font-family: inter;
    /* overflow-y: hidden;
    overflow-x: hidden; */

    
}

.container {
    
    width: 1540px;
    height: 521px;
    margin: auto;
    background-color: #FFCD9E;
    display: flex;
}

footer {
   
   width: 1540px;
   background-color: #282828;
   height: 250px;
   margin: auto;
   

}


.header-2{

    padding: 0px;     
    font-size: 32px;
    line-height: 54px;
    width: 562px;
    height: 108px;
    top: 40px;
    left: 136px;
    position: absolute;
}


.para_01{

    width: 495px;
    height: 81px;
    top: 170px;
    left: 136px;
    line-height: 32px;
    font-weight: 500px;

    font-size: 19px;
    position: absolute;
}



.para_02{

    width: 227px;
    height: 81px;
    top: 300px;
    left: 136px;
    position: absolute;

    
    font-size: 31px;
    font-weight: 800;
    line-height:32px;
    letter-spacing: 0em;
    text-align: left;
    
    
}





.para_03{
    width: 344px;
    height: 61px;
    top: 378px;
    left: 90px;
    padding: 7px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    position:absolute;    

     
}

#man{

    width: 500.52px;
    height: 515.45px;
    top: 20.4px;
    left: 870px;
    
    position:absolute;
}


.footer{

    width: 216px;
    height: 36px;
    top:532px;
    position: absolute;
    color: #FFFFFF;
    left: 191px;

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
    position: absolute;
}

.para_04 {
    width: 148px;
    left: 925px;
    position: relative;
    top: -175px;

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: right;
    
}


.para_05{

    width: 184px;
    left: 890px;
    position: relative;
    top: -180px;

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: right;
}


#instagrm{
 
    width: 29.41px;
    height: 27.42px;
    top: 80.58px;
    left: 1042.59px;

    position: absolute;
}

#linkedin{

    width: 29.41px;
    height: 27.42px;
    top: 80.58px;
    left: 1006px;
    position: absolute;
}

.para_06{

    width: 232px;
    height: 36px;
    top: 141px;
    left: 959px;
    color: #FFFFFF;
    position: absolute;
    
}
